---
// import Contact from "./Contact.astro";
import Educations from "./Educations.astro";
import Works from "./Works.astro";
import Hobbies from "./Hobbies.astro";
import Projects from "./Projects.astro";
import Skills from "./Skills.astro";

const { lang } = Astro.props;
---

<div class="flex w-full h-full gap-1 mt-4">
  <div class="flex basis-2/5 w-full h-full">
    <div class="flex flex-col">
      <Skills {lang} />
      <Educations {lang} />
      <Hobbies {lang} />
    </div>
  </div>
  <div class="flex basis-3/5 w-full h-full">
    <div class="flex flex-col px-6">
      <Projects {lang} />
      <Works {lang} />
    </div>
  </div>
</div>
